{# file: /roles/fio/templates/01_Validator.job.j2 #}
{# Jinja2 template to render a fio workload file #}
# -- start job file --
[global]
directory={{ home_dir }}/fio
log_avg_msec=500
ioengine=libaio
iodepth=16
filesize=512M
direct=1
invalidate=1
blocksize={{ blocksize }}
time_based
nrfiles=10
numjobs=2

[run - {{ rw }}]
runtime=600
rw={{ rw }}
write_iops_log=iops{{ rw }}
write_bw_log=bw{{ rw }}
write_lat_log=lat{{ rw }}

# -- end job file --
