{# file: /roles/fio/templates/ninja_baseline-run.j2 #}
{# Jinja2 template to render a fio workload file #}
# -- start job file --

[global]
directory={{ home_dir }}/fio
filesize={{ fio_filesize }}
nrfiles={{ fio_nrfiles }}
filename_format=testfile.$filenum

ioengine={{ fio_ioengine }}

rw={{ item.access }}

direct={{ fio_direct }}
refill_buffers={{ fio_refill_buffers }}
invalidate={{ fio_invalidate }}

numjobs={{ item.threads }}
blocksize={{ item.bs }}
time_based={{ fio_time_based }}
ramp_time={{ fio_ramp_time }}
runtime={{ fio_runtime }}
thread=1

log_avg_msec=500
group_reporting=1

exitall=1

[run-{{ item.access }}-thr_{{ item.threads }}-bs_{{ item.bs }}]
write_iops_log=run-{{ item.access }}-thr_{{ item.threads }}-bs_{{ item.bs }}
write_bw_log=run-{{ item.access }}-thr_{{ item.threads }}-bs_{{ item.bs }}
write_lat_log=run-{{ item.access }}-thr_{{ item.threads }}-bs_{{ item.bs }}

# -- end job file --